# Environment variables
# ----------------------------------
# Prevent secrets and local configurations from being committed.
.env
*.env

# Python artifacts
# ----------------------------------
# Byte-compiled / optimized / C extensions
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environments
# ----------------------------------
.venv/
venv/
env/
virtualenv/

# IDE / Editor folders
# ----------------------------------
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Testing / Coverage
# ----------------------------------
.pytest_cache/
.coverage
.tox/
htmlcov/

# OS-specific files
# ----------------------------------
.DS_Store
Thumbs.db